h1 {
    color: Coral;
    text-align: center;
    font-size: 36px;
    font-family:Lucida Handwriting;
}

h2 {
    color: Coral;
    font-size: 28px;
    border-bottom: 2px solid Gray;
    font-family:Courier New;
}

p {
    font-size: 19px;
    font-family:Brush Script MT;
    color:grey;
}
body {
background-color: lightgrey;
}
#bat{
    font-size: 20px;
}